.about h1,h2{
    text-align: center;
}

.about h2{
    text-align: center;
    
margin: 2em 0 1em;
}

/* 页面通用样式 */
/* .photo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 6px;
  border: 5px solid #ccc;
} */

.photo {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  /* 矩形四边渐变透明 */
  /* -webkit-mask-image: 
    linear-gradient(to top, transparent 0%, black 12%),
    linear-gradient(to bottom, transparent 0%, black 12%),
    linear-gradient(to left, transparent 0%, black 12%),
    linear-gradient(to right, transparent 0%, black 12%);
  -webkit-mask-composite: intersect;
  mask-image: 
    linear-gradient(to top, transparent 0%, black 12%),
    linear-gradient(to bottom, transparent 0%, black 12%),
    linear-gradient(to left, transparent 0%, black 12%),
    linear-gradient(to right, transparent 0%, black 12%);
  mask-composite: intersect; */
}

/* ul li:first-child {
  margin-top: -1em;
} */

.img-loading {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  color: #888;
  background: #f0f0f0;
  border-radius: 4px;
}


.modal {
  display: none; /* 控制显示隐藏时用 JS 设置 */
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: none;
  overflow: hidden; /* 防止外层滚动条 */
  box-sizing: border-box;
}
.modal h3{
  margin: 0;
}
.modal-content {
  background-color: #fff;
  max-width: 80vw;
  width: 80%;
  max-height: 90vh; /* 关键：限制弹窗最大高度 */
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  overflow-y: auto; /* 弹窗内部垂直滚动 */
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.image-card {
  flex: 1 1 calc(33.33% - 1rem);
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  background-color: #f9f9f9;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

/* 手机端：每张图片占整行 */
@media (max-width: 768px) {
  .image-card {
    flex: 1 1 100%;
  }
}


.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px;
  margin: 1rem 0;
}

.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
}
