/* .container {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
        90deg,
        rgb(196, 198, 198) 10%,
        transparent 0
      ),
      linear-gradient(hsl(0, 0%, 80%) 10%, transparent 0);
    background-size: 10px 10px;
    box-sizing: border-box;
    padding: 0 1em 2em 1em;
  }
   */
  .paper-text {
    margin: 0 1em 1em 1em;
    /* font-size: calc(0.8em + 0.3vw); */
  }
  
  .paper-text p{
    /* color: #333; */
    font-size: .98em;
  }
  
  .n-card {
    margin-top: 1em;
    padding: .5em;
    /* border: 1px solid #ddd; */
    /* background-color: #28282b; */
    box-shadow: 0 .5px 2px rgb(65, 61, 61);
  }
  
  .submitdate {
    color: rgba(169, 164, 157, 0.658);
    font-size: .9em;
  }
  
  .gsc-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5%;
  }
  
  .gsc-loading-image {
    width: 3rem;
    height: 3rem;
    background-image: url("/haoshuang/image/mona-loading-default.gif");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .gsc-loading-text {
    /* font-size: 0.875rem; */
    color: #555;
  }
  
  
  
/* 响应式适配：最大 768px 屏幕 */
@media screen and (max-width: 768px) {
  #note-list{
    margin-top: 3.5em;
  }

  .n-card {
    padding: .3em;
    margin: 1em 0em 8px 0em;
    /* margin: 0; */
    /* background-color: #ffffff; */
    box-shadow: 0 .5px 2px rgb(153, 145, 145);
  }
    
  .paper-text p{
    /* color: #28282b; */
  }

  .paper-text {
    margin: 0.5em;
    font-size: 0.95em;
  }

  .submitdate {
    font-size: 0.85em;
    color: rgb(169, 164, 157);
  }

}